@font-face {
  font-family: 'Nixie One Regular';
  src: url(~/assets/fonts/NixieOne-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Maven Pro Regular';
  src: url(~/assets/fonts/MavenPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Maven Pro Medium';
  src: url(~/assets/fonts/MavenPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Maven Pro Bold';
  src: url(~/assets/fonts/MavenPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Maven Pro Black';
  src: url(~/assets/fonts/MavenPro-Black.ttf);
  font-weight: 900;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Maven Pro Regular', sans-serif;
  font-size: 16px;
  height: 100%;
  padding: 0;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container_sm {
  width: 90%;
}

.container__inner {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.title,
.subtitle {
  color: #110066;
  font-family: 'Nixie One Regular', cursive;
  text-transform: uppercase;
}

.title {
  font-size: 25px;
}

.subtitle {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.entities {
  list-style-type: none;
  margin: 0 0 15px;
  padding: 0;
}

.entity {
  padding: 0 0 10px;
  border-bottom: 1px solid #ececec;
  margin: 0 0 10px;
}

.entities .entity:nth-last-child(1) {
  border: none;
}

.entity__name {
  font-weight: bold;
}

.brief {
  padding: 20px 0;
}

.button {
  background: #501981;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container_sm {
    width: 70%;
  }
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 28px;
  }
}
