@font-face {
  font-family: 'Nixie One Regular';
  src: url(~/assets/fonts/NixieOne-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Maven Pro Regular';
  src: url(~/assets/fonts/MavenPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Maven Pro Medium';
  src: url(~/assets/fonts/MavenPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Maven Pro Bold';
  src: url(~/assets/fonts/MavenPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Maven Pro Black';
  src: url(~/assets/fonts/MavenPro-Black.ttf);
  font-weight: 900;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Maven Pro Regular', sans-serif;
  font-size: 16px;
  height: 100%;
  padding: 0;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container__inner {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.title {
  color: #110066;
  font-family: 'Nixie One Regular', cursive;
  text-transform: uppercase;
  font-size: 25px;
}

.text-center {
  text-align: center;
}

.swal-title {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin: 0 0 15px !important;
  text-align: left;
  font-family: 'Maven Pro Regular', cursive;
  font-weight: 400
}

.swal-content {
  text-align: left;
}

.modal__title {
  color: #110066;
  font-family: 'Nixie One Regular', cursive;
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 20px;
}

.entities {
  list-style-type: none;
  margin: 0 0 15px;
  padding: 0;
}

.entity {
  padding: 0 0 10px;
  border-bottom: 1px solid #ececec;
  margin: 0 0 10px;
}

.entities .entity:nth-last-child(1) {
  border: none;
}

.entity__name {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}
